.home-page-container {
  height: 100vh;
  background-color: #0079bf;
  display: flex;
  flex-direction: column;
}
.home-page-content-container {
  flex: 1;
  background-color: #0079bf;
  overflow-y: auto;
}
.organization-member-details {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.organization-member-profile-bg {
  background: radial-gradient(circle, #ff8800, #e63535);
  height: 56px;
  width: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organization-member-profile {
  height: 42px;
  width: 42px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.organization-member-name {
  margin: 0px;
  max-width: 198px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 769px) {
  .home-page-content-container {
    display: flex;
    flex-direction: column;
    padding: 32px 150px 32px 150px;
  }
  .organization-member-details {
    align-self: center;
  }
}
