.add-list-container {
  background-color: #f4f5f7;
}

.edit-list-input {
  padding: 6px 6px 6px 16px;
  border: 1px solid #0967d2;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}
