.task-card {
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: #00000026;
  min-width: 222px;
  border: 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #475569;
  cursor: pointer;
}
.card-name {
  margin: 0px;
}
