.create-board-container {
  padding: 24px 16px;
  background-color: #fdfcfc;
  border-radius: 4px 4px 0px 0px;
  margin-top: 10px;
}
.input-and-close-button {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  margin: 0px;
  margin-bottom: 8px;
}

.create-board-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 0px;
  font-size: 16px;
  color: #f4f4f4;
  background-color: #a7b1bf;
  font-weight: 700;
}
.create-board-input::placeholder {
  color: #f4f4f4;
  font-weight: 700;
  font-size: 16px;
}
.close-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  align-self: flex-start;
}
.create-board-workspace {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 24px;
  color: #475569;
  margin-left: 16px;
}

.create-board-button {
  padding: 12px 24px;
  background: #1d4ed8;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.popup-overlay {
  display: block;
}
.no-mobile-view-display-popup-element {
  display: none;
}
@media (min-width: 769px) {
  .close-btn {
    display: block;
    align-self: flex-end;
  }
  .no-desktop-view-display-popup-element {
    display: none;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .create-board-input {
    width: 352px;
  }
  .create-board-container {
    margin-top: 0;
    padding: 24px 24px 53px 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 514px;
  }
}
