.create-board-container {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 280px; /* adjust width as needed */
}
.input-and-close-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin-bottom: 24px;
}

.create-board-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.close-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #64748b;
}
.create-board-workspace {
  font-size: 14px;
  margin-bottom: 12px;
  color: #333;
}

.create-board-button {
  padding: 10px 16px;
  width: 100%;
  background: linear-gradient(to right, #635bff, #3b82f6);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s ease;
}

.create-board-button:hover {
  background: linear-gradient(to right, #4f46e5, #2563eb);
}
