.boards-container {
  margin-top: 48px;
  padding: 0px 16px 16px 16px;
}
.sub-heading-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
.sub-heading {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.boards-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.boards-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px;
}
.create-new-board-button {
  background-color: #ffffff;
  border-radius: 4px;
  border: 0px;
  padding: 49px 0px 49px 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
}
.white-plus-icon {
  display: none;
}
.plus-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
}
.white-plus-icon {
  display: block;
  width: 24px;
  height: 24px;
}
.create-new-board-text {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #475569;
  text-align: center;
}
.create-new-board-text-active {
  color: #ffffff;
}
.create-new-board-button-active {
  background-color: #2fa9f1;
}
.person-icon {
  width: 32px;
  height: 32px;
}
@media (min-width: 769px) {
  .boards-list-container {
    margin-top: 36px;
  }

  .boards-container {
    margin-top: 127px;
    padding: 0px 16px 16px 16px;
  }
  .boards-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .create-new-board-button {
    padding: 67px 80px;
  }
  .sub-heading {
    font-size: 24px;
  }
}
