.organization-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f9fafb;
  border-radius: 4px;
  padding: 0px 36px 0px 0px;
  cursor: pointer;
}

.organization-item:hover {
  background-color: #e5e7eb;
}

.organization-item.active {
  background-color: #e0eff7;
}

.organization-icon {
  padding: 22px;
  background-color: #0079bf;
  border-radius: 4px 0px 0px 4px;
}

.organization-name {
  font-size: 16px;
  font-weight: 600;
  color: #475569;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
}
