.workspace-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 4px 4px 0px 0px;
  padding: 16px;
}

.workspace-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin-bottom: 24px;
}

.workspace-title {
  font-size: 12px;
  font-weight: 700;
  color: #7b8794;
  margin: 0px;
  padding: 0px;
}

.workspace-close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.workspace-close-btn-icon {
  width: 16px;
  height: 16px;
}
.workspace-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 769px) {
  .workspace-popup {
    position: relative;
    top: 8px;
    padding: 24px 16px 16px 16px;
  }
}
