.task-list {
  background-color: #ebecf0;
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 254px;
  overflow-y: auto;
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #172b4d;
  margin-bottom: 8px;
}

.add-task {
  background: none;
  border: none;
  cursor: pointer;
  padding: 7px 48px 7px 0px;
  display: flex;
  gap: 4px;
}

.add-task:hover {
  background-color: #cbd5e1;
  border-radius: 4px;
  padding: 7px 48px 7px 8px;
  border: 0px;
}
.add-task-text {
  font-size: 14px;
  font-weight: 400;
  color: #475569;
  margin: 0px;
}
.add-task-plus-icon {
  width: 16px;
  height: 16px;
}
.list-name {
  font-size: 16px;
  font-weight: 500;
  color: #475569;
  margin: 0px;
}
.task-list-body {
  overflow-y: auto;
  padding-right: 6px;
  margin-bottom: 12px;
}
.cards-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 400px;
}
