/* NavBar.css */
.nav-bar-container {
  background-color: #026aa7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.logout-button-and-profile-and-search-input {
  display: flex;
  gap: 4px;
}

.trello-logo-title-icon {
  width: 109px;
  height: 25px;
}

.logout-button {
  padding: 0px;
  width: 53px;
  height: 24px;
  border: 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.profile-bg {
  background-color: #bae3ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.profile-text {
  padding: 0px;
  margin: 0px;
  text-align: center;
  color: #0967d2;
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 769px) {
  .nav-bar-container {
    padding: 25px 48px;
  }

  .trello-logo-title-icon {
    width: 184px;
    height: 42px;
  }

  .logout-button {
    font-size: 18px;
    width: 69px;
  }

  .profile-text {
    font-size: 16px;
  }

  .profile-bg {
    border-radius: 50%;
    text-align: center;
    width: 41px;
    height: 41px;
  }

  .logout-button-and-profile-and-search-input {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
